body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: hsl(37, 80%, 45%);
	color: #ffffff;
	padding: 1em;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

section {
	background-color: #f7f7f7;
	padding: 2em;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(125, 14, 14, 0.1);
}

h1, h2, h3 {
	color: #d20a0a;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f0f0f0;
}